{% extends "base.html" %}

{% block content %}
<div>
  <h2>About</h2>
  <p>
    The block observatory is a basic blockchain explorer that collects blocks received from several different nodes in the network, run by the Zercoin Electric Coin Company as monitoring infrastructure.
  </p>
  <p>
    The design discussion for this site takes place on this github issue ticket: <a href="https://github.com/zcash/zcash/issues/1922"> https://github.com/zcash/zcash/issues/1922</a>.
  </p>
</div>
{% endblock %}
